@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Raleway:700);

/*Global*/

html, body {
  height: 100%;
}

body {
  background-image: url("/img/shattered.png");
}

#wrapper{
  min-height: 100%;
}

#content {
  width: 960px;
  margin: auto;
}

/*Header & Footer*/

footer, header {
  background-image: url("/img/footer_lodyas.png");
}

footer {
  width: 100%;
  height: 100px;
  margin-top: -100px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}

header{
  padding: 1px 0px 5px 0px;
  text-align: center;
}

#identity{
  color: white;
  font-family: 'Raleway', sans-serif;
}

nav a {
  text-decoration: none;
  color: lightgray;
  margin-left: 5px;
}

nav a:hover {
  border-bottom: solid 5px dodgerblue;
  margin-bottom: 5px;
  color: white;
  transition: color 1s ease
}

/*Main content*/
#content {
  margin-top: 50px;
  text-align: center;
  font-size: 1.3em;
}

.project {
  text-align: justify;
}

.project a {
  color: rgb(146, 188, 255);
  text-decoration: none;
}

/*Special component*/

.summary {
  margin-top: 20px;
  padding: 0px;
}

.summary li {
  list-style: none;
  text-align: left;
  position: relative;
  margin-bottom: 5px;
}

.summary li h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  margin: 0px;
}

.summary li p{
  font-size: 0.8em;
  margin: 0px;
  font: 'Roboto Condensed', sans-serif;
}

.summary li a {
  text-decoration: none;
  color: inherit;
}

.summary-abstract {
  padding: 10px 0px 10px 110px;
  text-align: justify;
}

.summary-thumb {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100px;
  top: 0px;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
}

/* WIP placeholder */

#wip img {
  /* below appends the magic */
  transform: perspective(400px) rotateX(0deg);
  transform-origin: 50% 0 0;
  transition: all 1s ease-out;
}

#wip img:hover {
  transform: perspective(400px) rotateX(2deg);
  transform-origin: 50% 0 0;
  transition: all 0.5s ease;
}

