header {
  background-image: url("../img/footer_lodyas.png")
}

html,body {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  background-image: url("../img/concrete_bg.png")
}

#container {
  margin: auto;
  text-align: center;
  text-shadow: 1px 2px 0 rgba(0,0,0,0.4), -1px -2px 0 rgba(255,255,255,1);
  font-family: "Trebuchet MS";
  font-size: 1.5em;
  color: #dce2e7;
}

#container img {
  /* below appends the magic */
  transform: perspective(400px) rotateX(0deg);
  transform-origin: 50% 0 0;
  transition: all 1s ease-out;
}

#container img:hover {
  transform: perspective(400px) rotateX(2deg);
  transform-origin: 50% 0 0;
  transition: all 0.5s ease;
}